@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body {
  font-family: Roboto, sans-serif;
}

.header {
  background: #1F2937;
  color: #F9FAF8;
}

.header .main {
  font-size: 48px;
  font-weight: 900;
}
.header .logo {
  font-size: 24px;
  font-weight: 600;
}

.header a,
.header .text {
  color: #e5e7eb;
  font-size: 18px;
}

.signup-button,
.signup-button2 {
  background-color: #3882F6;
  color: #f9faf8;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 5px 25px;
  font-weight: 500;
}

.contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

a {
  text-decoration: none;
}

.left-side {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  padding: 100px 0px;
  gap: 8px;
}

.header-lower {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.top-image {
  display: flex;
  background: rgb(105, 114, 119);
  background-clip:border-box;
  border: 100px;
  padding: 100px;
}
.body-3 {
  background: #3882F6;
}